/*
CALCULATOR CONTAINER    
*/

.calculatorContainer {
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: auto;
    height: 500px;
    width: 420px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    padding: 5%;
}


/*
RESULT
*/

.result {
    margin-top: 5px;
    height: 100px;
    width: 100%;
    background-color: white;
}

.result h1 {
    float: right;
    height: 60%;
    width: 100%;
    margin: 0;
}

.placeToPutResult {
    padding-top: 40px;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
}


/*
BUTTONS
*/

.entireButtonsContainer {
    display: flex;
    margin-top: 40px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.buttonsContainer button {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    font-size: 40px;
}

.entireButtonsContainer button {
    border-radius: 40px;
    height: 80px;
    width: 80px;
}
